
<a href="@Url.Action("GioHang","GioHang")"><img src="~/HinhAnhGiaoDien/Giohang.gif" title="Giỏ hàng" />Giỏ hàng<span>(@ViewBag.TongSoLuong)</span></a>
<span style="font-weight:bold"><img src="~/HinhAnhGiaoDien/Sotien.gif" title="Tổng tiền" />Tổng tiền:@ViewBag.TongTien VND</span>