
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/LayOut/NguoiDung_LayOut.cshtml";
}

<h2>Kính chào quý khách.</h2>
<h1>Đơn đặt hàng thành công</h1>
@Html.ActionLink("Kết thúc","Index","Home")

